Repository lx-industries/rmcp-openapi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu, build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

image:rust-x86_64-unknown-linux-gnu:
  needs: []
  variables:
    DOCKERFILE_DIR: images/rust/x86_64-unknown-linux-gnu
    OCI_IMAGE_NAME: images/rust
    OCI_IMAGE_VARIANT: x86_64-unknown-linux-gnu
    GIT_FETCH_EXTRA_FLAGS: +refs/heads/$CI_DEFAULT_BRANCH:refs/remotes/origin/$CI_DEFAULT_BRANCH
  artifacts:
    expire_in: 1 hr
    paths:
  ...

push:rust-x86_64-unknown-linux-gnu:
  needs:
  - image:rust-x86_64-unknown-linux-gnu
  variables:
    DOCKERFILE_DIR: images/rust/x86_64-unknown-linux-gnu
    OCI_IMAGE_NAME: images/rust
    OCI_IMAGE_VARIANT: x86_64-unknown-linux-gnu
  ...

build:
  image: registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.0-x86_64-unknown-linux-gnu@sha256:b0a6871f507770a085fa1bbcb1ed102d8639b77901f4e68816ffae3fe0945e71
  variables:
    CARGO_HOME: .cargo
  before_script:
  - - .sccache-rust
    - before_script
  - - .rust-template
    - before_script
  ...

test:
  image: registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.0-x86_64-unknown-linux-gnu@sha256:b0a6871f507770a085fa1bbcb1ed102d8639b77901f4e68816ffae3fe0945e71
  variables:
    CARGO_HOME: .cargo
  before_script:
  - - .sccache-rust
    - before_script
  - - .rust-template
    - before_script
  ...

clippy:
  image: registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.0-x86_64-unknown-linux-gnu@sha256:b0a6871f507770a085fa1bbcb1ed102d8639b77901f4e68816ffae3fe0945e71
  variables:
    CARGO_HOME: .cargo
  before_script:
  - - .sccache-rust
    - before_script
  - - .rust-template
    - before_script
  ...

fmt:
  image: registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.0-x86_64-unknown-linux-gnu@sha256:b0a6871f507770a085fa1bbcb1ed102d8639b77901f4e68816ffae3fe0945e71
  variables:
    CARGO_HOME: .cargo
  before_script:
  - - .rust-template
    - before_script
  - rustup component add rustfmt
  ...

typos:
  image: registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.0-x86_64-unknown-linux-gnu@sha256:b0a6871f507770a085fa1bbcb1ed102d8639b77901f4e68816ffae3fe0945e71
  variables:
    CARGO_HOME: .cargo
  before_script:
  - typos --version
  interruptible: true
  stage: lint
  needs: []
  script:
  - typos

rustdoc:
  image: registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.0-x86_64-unknown-linux-gnu@sha256:b0a6871f507770a085fa1bbcb1ed102d8639b77901f4e68816ffae3fe0945e71
  variables:
    CARGO_HOME: .cargo
  before_script:
  - - .sccache-rust
    - before_script
  - - .rust-template
    - before_script
  ...

doc-test:
  image: registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.0-x86_64-unknown-linux-gnu@sha256:b0a6871f507770a085fa1bbcb1ed102d8639b77901f4e68816ffae3fe0945e71
  variables:
    CARGO_HOME: .cargo
  before_script:
  - - .sccache-rust
    - before_script
  - - .rust-template
    - before_script
  ...

chore(deps): update rust crate anyhow to v1.0.104
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate async-trait to v0.1.91
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate clap to v4.6.4
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate regex to v1.13.1
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate serde to v1.0.229
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate serde_json to v1.0.151
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update dependency casey/just to v1.57.0
  images/rust/x86_64-pc-windows-msvc/Dockerfile
Due: none

chore(deps): update registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.96.1-x86_64-pc-windows-msvc docker digest to eee5c62
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate thiserror to v2.0.19
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate tokio-util to v0.7.19
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to 0.48.0
  Cargo.lock
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate base64 to 0.23
  Cargo.lock
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate tokio to v1.53.1
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to 0.49.0
  Cargo.lock
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to v0.49.1
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate schemars to v1.2.2
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to v0.49.2
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update node.js
  .devcontainer/Dockerfile
  .gitlab-ci.yml
Due: none

chore(deps): update dependency mozilla/sccache to v0.17.0
  images/rust/x86_64-pc-windows-msvc/Dockerfile
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update rust images
  .devcontainer/Dockerfile
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate http to v1.5.0
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update node.js to v24.18.1
  .gitlab-ci.yml
Due: none

chore(deps): update docker docker tag to v29.7.0
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update rust docker tag to v1.97.1
  .gitlab/ci/semantic-release.gitlab-ci.yml
  images/rust/x86_64-pc-windows-msvc/Dockerfile
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update rust crate clap to v4.6.5
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to v0.49.3
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update dependency crate-ci/typos to v1.49.0
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update dependency casey/just to v1.58.0
  images/rust/x86_64-pc-windows-msvc/Dockerfile
Due: none

chore(deps): update rust crate jsonschema to v0.49.4
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update node.js to v24.19.0
  .devcontainer/Dockerfile
  .gitlab-ci.yml
Due: none

chore(deps): update docker docker tag to v29.7.1
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update docker:29.7.1-dind docker digest to e8faad5
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update ubuntu:noble docker digest to 561618e
  container/Containerfile
Due: none

chore(deps): update rust crate base64 to v0.23.1
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to v0.49.5
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update node.js to 934240a
  .gitlab-ci.yml
Due: none

chore(deps): update rust crate clap to v4.6.6
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to v0.49.6
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to v0.49.7
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate thiserror to v2.0.20
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

Path conditions:
  image:rust-x86_64-unknown-linux-gnu: any of: images/rust/x86_64-unknown-linux-gnu/Dockerfile, .gitlab/ci/images.gitlab-ci.yml
  push:rust-x86_64-unknown-linux-gnu: any of: images/rust/x86_64-unknown-linux-gnu/Dockerfile, .gitlab/ci/images.gitlab-ci.yml
  build: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  test: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  clippy: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  fmt: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  typos: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  rustdoc: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  doc-test: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  examples: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  integration-js: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
