Repository lx-industries/rmcp-openapi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu, build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

Path conditions:
  image:rust-x86_64-unknown-linux-gnu: any of: images/rust/x86_64-unknown-linux-gnu/Dockerfile, .gitlab/ci/images.gitlab-ci.yml
  push:rust-x86_64-unknown-linux-gnu: any of: images/rust/x86_64-unknown-linux-gnu/Dockerfile, .gitlab/ci/images.gitlab-ci.yml
  build: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  test: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  clippy: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  fmt: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  typos: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  rustdoc: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  doc-test: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  examples: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  integration-js: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml

chore(deps): update docker docker tag to v29.5.2
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update docker:29.5.2-dind docker digest to 6b9cd91
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update dependency crate-ci/typos to v1.46.3
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

ci: run build+package on every main commit; align package rule with build
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(release): 0.27.3
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate rmcp-actix-web to v0.12.11
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate reqwest to v0.13.4
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate http to v1.4.1
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

feat(server): add --insecure CLI flag mirroring curl --insecure
  crates/rmcp-openapi-server/src/cli.rs
  crates/rmcp-openapi-server/src/configuration.rs
  crates/rmcp-openapi-server/src/main.rs
  crates/rmcp-openapi-server/src/spec_loader.rs
  crates/rmcp-openapi/src/http_client.rs
  crates/rmcp-openapi/src/server.rs
  crates/rmcp-openapi/src/spec.rs
  crates/rmcp-openapi/src/tool_generator.rs
  crates/rmcp-openapi/tests/test_tool_filter.rs
  crates/rmcp-openapi/tests/test_with_js.rs
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(release): 0.28.0
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update dependency crate-ci/typos to v1.47.0
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.95.0-x86_64-unknown-linux-gnu docker digest to d1fe5bd
  .devcontainer/Dockerfile
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust:1.95.0 docker digest to f49565f
  .gitlab/ci/semantic-release.gitlab-ci.yml
  images/rust/x86_64-pc-windows-msvc/Dockerfile
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update rust docker tag to v1.96.0
  .gitlab/ci/semantic-release.gitlab-ci.yml
  images/rust/x86_64-pc-windows-msvc/Dockerfile
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update registry.gitlab.com/lx-industries/rmcp-openapi/images/rust docker tag to v1.96.0
  .devcontainer/Dockerfile
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(release): 0.28.1
  CHANGELOG.md
  Cargo.lock
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate rmcp-actix-web to v0.12.12
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update ubuntu:noble docker digest to 786a8b5
  container/Containerfile
Due: none

chore(deps): update dependency crate-ci/typos to v1.47.1
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update dependency crate-ci/typos to v1.47.2
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update docker docker tag to v29.5.3
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update rmcp crates to v0.12.13
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate http to v1.4.2
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update dependency casey/just to v1.52.0
  images/rust/x86_64-pc-windows-msvc/Dockerfile
Due: none

chore(deps): update rust images
  .devcontainer/Dockerfile
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

feat(tool-generator): surface OpenAPI examples in the structured `examples` field
  crates/rmcp-openapi/src/server.rs
  crates/rmcp-openapi/src/snapshots/rmcp_openapi__tool_generator__tests__test_keep_parameter_descriptions.snap
  crates/rmcp-openapi/src/snapshots/rmcp_openapi__tool_generator__tests__test_skip_parameter_descriptions.snap
  crates/rmcp-openapi/src/spec.rs
  crates/rmcp-openapi/src/tool_generator.rs
  crates/rmcp-openapi/src/tool_registry.rs
  crates/rmcp-openapi/tests/test_with_js.rs
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(release): 0.29.0
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate regex to v1.12.4
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

feat(tool-generator): lift array parameter element examples to the parameter level
  crates/rmcp-openapi/src/snapshots/rmcp_openapi__tool_generator__tests__array_parameter_examples_lift.snap
  crates/rmcp-openapi/src/tool_generator.rs
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(release): 0.30.0
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate bon to v3.9.2
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update docker:29.5.3-dind docker digest to ad68e89
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update rust crate insta to v1.48.0
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(release): 0.30.1
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rmcp crates to v0.12.14
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate bon to v3.9.3
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update dependency rust-cross/cargo-xwin to v0.23.0
  images/rust/x86_64-pc-windows-msvc/Dockerfile
Due: none

chore(deps): update docker:29.5.3-dind docker digest to 7278248
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update dependency casey/just to v1.53.0
  images/rust/x86_64-pc-windows-msvc/Dockerfile
Due: none

fix: expand deepObject query parameters to key[prop]=value
  crates/rmcp-openapi/src/http_client.rs
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js
