Repository lx-industries/rmcp-openapi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu, build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

image:rust-x86_64-unknown-linux-gnu:
  needs: []
  variables:
    DOCKERFILE_DIR: images/rust/x86_64-unknown-linux-gnu
    OCI_IMAGE_NAME: images/rust
    OCI_IMAGE_VARIANT: x86_64-unknown-linux-gnu
    GIT_FETCH_EXTRA_FLAGS: +refs/heads/$CI_DEFAULT_BRANCH:refs/remotes/origin/$CI_DEFAULT_BRANCH
  artifacts:
    expire_in: 1 hr
    paths:
  ...

push:rust-x86_64-unknown-linux-gnu:
  needs:
  - image:rust-x86_64-unknown-linux-gnu
  variables:
    DOCKERFILE_DIR: images/rust/x86_64-unknown-linux-gnu
    OCI_IMAGE_NAME: images/rust
    OCI_IMAGE_VARIANT: x86_64-unknown-linux-gnu
  ...

build:
  image: registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.0-x86_64-unknown-linux-gnu@sha256:b0a6871f507770a085fa1bbcb1ed102d8639b77901f4e68816ffae3fe0945e71
  variables:
    CARGO_HOME: .cargo
  before_script:
  - - .sccache-rust
    - before_script
  - - .rust-template
    - before_script
  ...

test:
  image: registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.0-x86_64-unknown-linux-gnu@sha256:b0a6871f507770a085fa1bbcb1ed102d8639b77901f4e68816ffae3fe0945e71
  variables:
    CARGO_HOME: .cargo
  before_script:
  - - .sccache-rust
    - before_script
  - - .rust-template
    - before_script
  ...

clippy:
  image: registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.0-x86_64-unknown-linux-gnu@sha256:b0a6871f507770a085fa1bbcb1ed102d8639b77901f4e68816ffae3fe0945e71
  variables:
    CARGO_HOME: .cargo
  before_script:
  - - .sccache-rust
    - before_script
  - - .rust-template
    - before_script
  ...

fmt:
  image: registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.0-x86_64-unknown-linux-gnu@sha256:b0a6871f507770a085fa1bbcb1ed102d8639b77901f4e68816ffae3fe0945e71
  variables:
    CARGO_HOME: .cargo
  before_script:
  - - .rust-template
    - before_script
  - rustup component add rustfmt
  ...

typos:
  image: registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.0-x86_64-unknown-linux-gnu@sha256:b0a6871f507770a085fa1bbcb1ed102d8639b77901f4e68816ffae3fe0945e71
  variables:
    CARGO_HOME: .cargo
  before_script:
  - typos --version
  interruptible: true
  stage: lint
  needs: []
  script:
  - typos

rustdoc:
  image: registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.0-x86_64-unknown-linux-gnu@sha256:b0a6871f507770a085fa1bbcb1ed102d8639b77901f4e68816ffae3fe0945e71
  variables:
    CARGO_HOME: .cargo
  before_script:
  - - .sccache-rust
    - before_script
  - - .rust-template
    - before_script
  ...

doc-test:
  image: registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.0-x86_64-unknown-linux-gnu@sha256:b0a6871f507770a085fa1bbcb1ed102d8639b77901f4e68816ffae3fe0945e71
  variables:
    CARGO_HOME: .cargo
  before_script:
  - - .sccache-rust
    - before_script
  - - .rust-template
    - before_script
  ...

chore(deps): update rust crate async-trait to v0.1.92
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to v0.49.8
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to v0.49.9
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update docker docker tag to v29.7.2
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update dependency rust-cross/cargo-xwin to v0.23.1
  images/rust/x86_64-pc-windows-msvc/Dockerfile
Due: none

chore(deps): update ubuntu:noble docker digest to 1428a95
  container/Containerfile
Due: none

chore(deps): update ubuntu:noble docker digest to d78ab76
  container/Containerfile
Due: none

chore(deps): update rust crate jsonschema to 0.50.0
  Cargo.lock
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update ubuntu:noble docker digest to 33ceb71
  container/Containerfile
Due: none

chore(deps): update rust crate jsonschema to v0.50.1
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to 0.51.0
  Cargo.lock
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate bon to v3.10.0
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update node.js to 4196d66
  .gitlab-ci.yml
Due: none

chore(deps): update node.js to v24.20.0
  .devcontainer/Dockerfile
Due: none

chore(deps): update rust crate jsonschema to 0.52.0
  Cargo.lock
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update dependency crate-ci/typos to v1.49.1
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update dependency crate-ci/typos to v1.50.0
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update rust crate indexmap to v2.14.1
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to v0.52.1
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(renovate): capture registryUrl in Dockerfile customManager regex
  .gitlab/ci/devcontainer.gitlab-ci.yml
  renovate.json
  scripts/check-renovate-annotations.py
Due: none

chore(devcontainer): fix login-shell PATH, arbitrary UID, add gh and Docker CLI
  .devcontainer/Dockerfile
  .devcontainer/dev-shell.sh
  .devcontainer/dev-stop.sh
  .devcontainer/devcontainer.json
  .devcontainer/entrypoint.sh
  .devcontainer/firewall-allowlist.txt
  justfile
Due: none

chore(deps): update docker:29.7.2-dind docker digest to 360545c
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update rust:1.97.1 docker digest to b1b3c9c
  .gitlab/ci/semantic-release.gitlab-ci.yml
  images/rust/x86_64-pc-windows-msvc/Dockerfile
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update docker:29.7.2-dind docker digest to 3ef33f2
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update rust docker tag to v1.98.0
  .gitlab/ci/semantic-release.gitlab-ci.yml
  images/rust/x86_64-pc-windows-msvc/Dockerfile
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update rust:1.98.0 docker digest to 620dbcd
  .gitlab/ci/semantic-release.gitlab-ci.yml
  images/rust/x86_64-pc-windows-msvc/Dockerfile
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update dependency crate-ci/typos to v1.50.1
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update dependency cli/cli to v2.99.0
  .devcontainer/Dockerfile
Due: none

chore(deps): update dependency gitlab-org/cli to v1.116.0
  .devcontainer/Dockerfile
Due: none

chore(deps): update rust crate jsonschema to 0.53.0
  Cargo.lock
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update dependency cli/cli to v2.100.0
  .devcontainer/Dockerfile
Due: none

chore(deps): update docker docker tag to v29.8.0
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update docker:29.8.0-dind docker digest to 5efed98
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update rust crate indexmap to v2.14.2
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to 0.54.0
  Cargo.lock
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to 0.55.0
  Cargo.lock
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(release): 0.31.4
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate bon to v3.10.1
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to v0.55.1
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update dependency gitlab-org/cli to v1.117.0
  .devcontainer/Dockerfile
Due: none

Path conditions:
  image:rust-x86_64-unknown-linux-gnu: any of: images/rust/x86_64-unknown-linux-gnu/Dockerfile, .gitlab/ci/images.gitlab-ci.yml
  push:rust-x86_64-unknown-linux-gnu: any of: images/rust/x86_64-unknown-linux-gnu/Dockerfile, .gitlab/ci/images.gitlab-ci.yml
  build: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  test: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  clippy: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  fmt: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  typos: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  rustdoc: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  doc-test: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  examples: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  integration-js: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
