Repository lx-industries/rmcp-openapi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu, build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

image:rust-x86_64-unknown-linux-gnu:
  needs: []
  variables:
    DOCKERFILE_DIR: images/rust/x86_64-unknown-linux-gnu
    OCI_IMAGE_NAME: images/rust
    OCI_IMAGE_VARIANT: x86_64-unknown-linux-gnu
    GIT_FETCH_EXTRA_FLAGS: +refs/heads/$CI_DEFAULT_BRANCH:refs/remotes/origin/$CI_DEFAULT_BRANCH
  artifacts:
    expire_in: 1 hr
    paths:
  ...

push:rust-x86_64-unknown-linux-gnu:
  needs:
  - image:rust-x86_64-unknown-linux-gnu
  variables:
    DOCKERFILE_DIR: images/rust/x86_64-unknown-linux-gnu
    OCI_IMAGE_NAME: images/rust
    OCI_IMAGE_VARIANT: x86_64-unknown-linux-gnu
  ...

build:
  image: registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.0-x86_64-unknown-linux-gnu@sha256:b0a6871f507770a085fa1bbcb1ed102d8639b77901f4e68816ffae3fe0945e71
  variables:
    CARGO_HOME: .cargo
  before_script:
  - - .sccache-rust
    - before_script
  - - .rust-template
    - before_script
  ...

test:
  image: registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.0-x86_64-unknown-linux-gnu@sha256:b0a6871f507770a085fa1bbcb1ed102d8639b77901f4e68816ffae3fe0945e71
  variables:
    CARGO_HOME: .cargo
  before_script:
  - - .sccache-rust
    - before_script
  - - .rust-template
    - before_script
  ...

clippy:
  image: registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.0-x86_64-unknown-linux-gnu@sha256:b0a6871f507770a085fa1bbcb1ed102d8639b77901f4e68816ffae3fe0945e71
  variables:
    CARGO_HOME: .cargo
  before_script:
  - - .sccache-rust
    - before_script
  - - .rust-template
    - before_script
  ...

fmt:
  image: registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.0-x86_64-unknown-linux-gnu@sha256:b0a6871f507770a085fa1bbcb1ed102d8639b77901f4e68816ffae3fe0945e71
  variables:
    CARGO_HOME: .cargo
  before_script:
  - - .rust-template
    - before_script
  - rustup component add rustfmt
  ...

typos:
  image: registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.0-x86_64-unknown-linux-gnu@sha256:b0a6871f507770a085fa1bbcb1ed102d8639b77901f4e68816ffae3fe0945e71
  variables:
    CARGO_HOME: .cargo
  before_script:
  - typos --version
  interruptible: true
  stage: lint
  needs: []
  script:
  - typos

rustdoc:
  image: registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.0-x86_64-unknown-linux-gnu@sha256:b0a6871f507770a085fa1bbcb1ed102d8639b77901f4e68816ffae3fe0945e71
  variables:
    CARGO_HOME: .cargo
  before_script:
  - - .sccache-rust
    - before_script
  - - .rust-template
    - before_script
  ...

doc-test:
  image: registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.0-x86_64-unknown-linux-gnu@sha256:b0a6871f507770a085fa1bbcb1ed102d8639b77901f4e68816ffae3fe0945e71
  variables:
    CARGO_HOME: .cargo
  before_script:
  - - .sccache-rust
    - before_script
  - - .rust-template
    - before_script
  ...

chore(deps): update docker docker tag to v29.4.0
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.94.1-x86_64-pc-windows-msvc docker digest to 45de85b
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update node.js to 80fc934
  .gitlab-ci.yml
Due: none

chore: align Renovate config with OpenBlob patterns
  renovate.json
Due: none

chore(deps): update node.js to v22.22.2
  .devcontainer/Dockerfile
Due: none

chore(deps): update dependency crate-ci/typos to v1.45.0
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update dependency casey/just to v1.49.0
  images/rust/x86_64-pc-windows-msvc/Dockerfile
Due: none

chore(deps): update dependency mozilla/sccache to v0.14.0
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update rust images
  .devcontainer/Dockerfile
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate tokio to v1.51.1
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

refactor(ci): extract semantic release jobs into separate CI file
  .gitlab-ci.yml
  .gitlab/ci/semantic-release.gitlab-ci.yml
Due: none

chore(deps): update node.js to v24
  .devcontainer/Dockerfile
Due: none

chore(deps): update rust crate indexmap to v2.14.0
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate rmcp to v1.4.0
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to 0.46.0
  Cargo.lock
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update dependency crate-ci/typos to v1.45.1
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(release): 0.26.4
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update dependency rust-cross/cargo-xwin to v0.21.5
  images/rust/x86_64-pc-windows-msvc/Dockerfile
Due: none

chore(deps): update rust crate axum to v0.8.9
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate tokio to v1.52.0
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate clap to v4.6.1
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update docker:29.4.0-dind docker digest to edaa00c
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update docker:29.4.0-dind docker digest to a6dd532
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update node.js to v24.15.0
  .devcontainer/Dockerfile
Due: none

chore(deps): update rust crate rmcp to v1.5.0
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate tokio to v1.52.1
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to v0.46.1
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update dependency casey/just to v1.50.0
  images/rust/x86_64-pc-windows-msvc/Dockerfile
Due: none

chore(deps): update registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.94.1-x86_64-pc-windows-msvc docker digest to 91bc81b
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to v0.46.2
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(release): 0.26.5
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update docker docker tag to v29.4.1
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update dependency rust-cross/cargo-xwin to v0.22.0
  images/rust/x86_64-pc-windows-msvc/Dockerfile
Due: none

chore(deps): update registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.94.1-x86_64-pc-windows-msvc docker digest to bbbbaa4
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate reqwest to v0.13.3
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(release): 0.26.6
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update dependency crate-ci/typos to v1.45.2
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update rust crate jsonschema to v0.46.3
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

Path conditions:
  image:rust-x86_64-unknown-linux-gnu: any of: images/rust/x86_64-unknown-linux-gnu/Dockerfile, .gitlab/ci/images.gitlab-ci.yml
  push:rust-x86_64-unknown-linux-gnu: any of: images/rust/x86_64-unknown-linux-gnu/Dockerfile, .gitlab/ci/images.gitlab-ci.yml
  build: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  test: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  clippy: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  fmt: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  typos: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  rustdoc: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  doc-test: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  examples: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  integration-js: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
