Repository lx-industries/rmcp-openapi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu, build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

Path conditions:
  image:rust-x86_64-unknown-linux-gnu: any of: images/rust/x86_64-unknown-linux-gnu/Dockerfile, .gitlab/ci/images.gitlab-ci.yml
  push:rust-x86_64-unknown-linux-gnu: any of: images/rust/x86_64-unknown-linux-gnu/Dockerfile, .gitlab/ci/images.gitlab-ci.yml
  build: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  test: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  clippy: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  fmt: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  typos: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  rustdoc: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  doc-test: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  examples: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  integration-js: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml

chore(deps): update rust:1.94.0 docker digest to 72724f1
  .gitlab-ci.yml
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.94.0-x86_64-unknown-linux-gnu docker digest
  .devcontainer/Dockerfile
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust:1.94.0 docker digest to f17e723
  .gitlab-ci.yml
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(release): 0.25.3
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate rmcp-actix-web to v0.12.4
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update node.js to v24.14.1
  .gitlab-ci.yml
Due: none

chore(deps): update docker docker tag to v29.3.1
  .gitlab/ci/common.gitlab-ci.yml
Due: none

feat(ci): add Docker image for Windows MSVC cross-compilation
  .gitlab-ci.yml
  .gitlab/ci/images.gitlab-ci.yml
  images/rust/x86_64-pc-windows-msvc/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

feat(ci): add Windows MSVC cross-compilation build job
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

ci: use release profile by default, release-lto on tags
  .gitlab-ci.yml
  .gitlab/ci/rust.gitlab-ci.yml
  Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

docs: add Windows cross-compilation CI design spec
  docs/superpowers/specs/2026-03-26-windows-cross-compilation-design.md
Due: none

docs: add Windows cross-compilation implementation plan
  docs/superpowers/plans/2026-03-26-windows-cross-compilation.md
Due: none

chore(deps): update registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.94.0-x86_64-pc-windows-msvc docker digest to 817502a
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

fix(ci): missing --profile for the build:x86_64-pc-windows-msvc job
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

fix(ci): missing artifacts for the build:x86_64-unknown-linux-gnu job
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust docker tag to v1.94.1
  .gitlab-ci.yml
  images/rust/x86_64-pc-windows-msvc/Dockerfile
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update rust crate oas3 to 0.21.0
  Cargo.lock
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(release): 0.26.0
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update registry.gitlab.com/lx-industries/rmcp-openapi/images/rust docker tag to v1.94.1
  .devcontainer/Dockerfile
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate insta to v1.47.0
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate insta to v1.47.1
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(release): 0.26.1
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate insta to v1.47.2
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

fix: include JSON path in OpenAPI spec deserialization errors
  Cargo.lock
  crates/rmcp-openapi/Cargo.toml
  crates/rmcp-openapi/src/error.rs
  crates/rmcp-openapi/src/spec.rs
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rmcp crates
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

fix: adapt to non-exhaustive StreamableHttpServerConfig in rmcp 1.3.0
  crates/rmcp-openapi/src/spec.rs
  crates/rmcp-openapi/tests/test_with_js.rs
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(release): 0.26.2
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate indexmap to v2.13.1
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate tokio to v1.51.0
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update docker:29.3.1-dind docker digest to 686d2c5
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update rust crate jsonschema to v0.45.1
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(release): 0.26.3
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate rmcp-actix-web to v0.12.6
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update node.js to 2ef5213
  .gitlab-ci.yml
Due: none

chore(deps): update rust:1.94.1 docker digest to a449cfc
  .gitlab-ci.yml
  images/rust/x86_64-pc-windows-msvc/Dockerfile
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.94.1-x86_64-unknown-linux-gnu docker digest
  .devcontainer/Dockerfile
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update node.js to df0c595
  .gitlab-ci.yml
Due: none

chore(deps): update rust:1.94.1 docker digest to dbc91e2
  .gitlab-ci.yml
  images/rust/x86_64-pc-windows-msvc/Dockerfile
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu
