Repository lx-industries/rmcp-openapi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu, build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

Path conditions:
  image:rust-x86_64-unknown-linux-gnu: any of: images/rust/x86_64-unknown-linux-gnu/Dockerfile, .gitlab/ci/images.gitlab-ci.yml
  push:rust-x86_64-unknown-linux-gnu: any of: images/rust/x86_64-unknown-linux-gnu/Dockerfile, .gitlab/ci/images.gitlab-ci.yml
  build: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  test: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  clippy: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  fmt: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  typos: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  rustdoc: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  doc-test: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  examples: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  integration-js: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml

chore(deps): update dependency crate-ci/typos to v1.46.0
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update dependency mozilla/sccache to v0.15.0
  images/rust/x86_64-pc-windows-msvc/Dockerfile
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update rust:1.94.1 docker digest to 652612f
  .gitlab/ci/semantic-release.gitlab-ci.yml
  images/rust/x86_64-pc-windows-msvc/Dockerfile
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update rust docker tag to v1.95.0
  .gitlab/ci/semantic-release.gitlab-ci.yml
  images/rust/x86_64-pc-windows-msvc/Dockerfile
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update rust crate rmcp to v1.6.0
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update node.js to v24.15.0
  .gitlab-ci.yml
Due: none

chore(deps): update rust crate jsonschema to v0.46.4
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate tokio to v1.52.2
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(typos): whitelist test fixture "namee"
  .typos.toml
Due: none

chore(deps): update registry.gitlab.com/lx-industries/rmcp-openapi/images/rust docker tag to v1.95.0
  .devcontainer/Dockerfile
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(gitignore): ignore docs/superpowers plans and specs
  .gitignore
  docs/superpowers/plans/2026-03-26-windows-cross-compilation.md
  docs/superpowers/specs/2026-03-26-windows-cross-compilation-design.md
Due: none

fix(ci): build linux-gnu binary at the declared artifact path
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

feat(ci): build and push rmcp-openapi-server container image
  .gitlab-ci.yml
  .gitlab/ci/rust.gitlab-ci.yml
  container/Containerfile
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update dependency crate-ci/typos to v1.46.1
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update rust crate tokio to v1.52.3
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update docker docker tag to v29.4.3
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update node.js to 34f0eb9
  .gitlab-ci.yml
Due: none

chore(deps): update node.js to 5c0216e
  .gitlab-ci.yml
Due: none

chore(deps): update node.js to 050bf2b
  .gitlab-ci.yml
Due: none

chore(deps): update dependency casey/just to v1.51.0
  images/rust/x86_64-pc-windows-msvc/Dockerfile
Due: none

chore(release): 0.27.0
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate rmcp to v1.7.0
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to v0.46.5
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate rmcp-actix-web to v0.12.7
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate rmcp-actix-web to v0.12.8
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate rmcp-actix-web to v0.12.9
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update docker docker tag to v29.5.0
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update docker:29.5.0-dind docker digest to 8e3fae9
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update dependency crate-ci/typos to v1.46.2
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(release): 0.27.1
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate rmcp-actix-web to v0.12.10
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

fix(ci): apply release-lto profile rule to package:container-image
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(release): 0.27.2
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update docker docker tag to v29.5.1
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update docker:29.5.1-dind docker digest to eed377f
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update node.js to 2bf80b7
  .gitlab-ci.yml
Due: none

chore(deps): update node.js to 199c735
  .gitlab-ci.yml
Due: none

chore(deps): update node.js to f22d6a1
  .gitlab-ci.yml
Due: none

chore(deps): update node.js to v24.16.0
  .devcontainer/Dockerfile
Due: none

chore(deps): update rust crate serde_json to v1.0.150
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js
