Repository lx-industries/rmcp-openapi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu, build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

Path conditions:
  image:rust-x86_64-unknown-linux-gnu: any of: images/rust/x86_64-unknown-linux-gnu/Dockerfile, .gitlab/ci/images.gitlab-ci.yml
  push:rust-x86_64-unknown-linux-gnu: any of: images/rust/x86_64-unknown-linux-gnu/Dockerfile, .gitlab/ci/images.gitlab-ci.yml
  build: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  test: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  clippy: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  fmt: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  typos: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  rustdoc: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  doc-test: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  examples: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  integration-js: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml

chore(deps): update rust crate anyhow to v1.0.102
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(release): 0.24.8
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update node.js to v24.14.0
  .gitlab-ci.yml
Due: none

chore(deps): update rust:1.93.1 docker digest to 4e7968e
  .gitlab-ci.yml
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.1-x86_64-unknown-linux-gnu docker digest to 23f9888
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update node.js to 3a09aa6
  .gitlab-ci.yml
Due: none

chore(deps): update rust:1.93.1 docker digest to 29f15ed
  .gitlab-ci.yml
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update rust:1.93.1 docker digest to 51c04d7
  .gitlab-ci.yml
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.1-x86_64-unknown-linux-gnu docker digest to 7c1acbe
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to v0.42.2
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update docker:29.2.1-dind docker digest to 68f6d9a
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update rust crate jsonschema to 0.43.0
  Cargo.lock
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to 0.44.0
  Cargo.lock
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(release): 0.24.9
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate tokio to v1.50.0
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rmcp crates
  Cargo.lock
  Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust:1.93.1 docker digest to ecbe59a
  .gitlab-ci.yml
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.1-x86_64-unknown-linux-gnu docker digest to 7f228cb
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to v0.44.1
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

feat(ci): add dev container for Claude Code autonomous mode
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/entrypoint.sh
  .devcontainer/firewall-allowlist.txt
  .devcontainer/firewall.sh
  .gitlab-ci.yml
  .gitlab/ci/devcontainer.gitlab-ci.yml
  justfile
Due: none

chore(deps): update rust crate rmcp to v1
  Cargo.lock
  Cargo.toml
  crates/rmcp-openapi/src/server.rs
  crates/rmcp-openapi/src/tool/metadata.rs
  crates/rmcp-openapi/src/tool/mod.rs
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(release): 0.25.0
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update docker docker tag to v29.3.0
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update docker:29.3.0-dind docker digest to 1ba1844
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update rust docker tag to v1.94.0
  .gitlab-ci.yml
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update registry.gitlab.com/lx-industries/rmcp-openapi/images/rust docker tag to v1.94.0
  .devcontainer/Dockerfile
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to 0.45.0
  Cargo.lock
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate rmcp to v1.1.1
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(release): 0.25.1
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate rmcp-actix-web to v0.12.2
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate rmcp to v1.2.0
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust:1.94.0 docker digest to 7e322aa
  .gitlab-ci.yml
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.94.0-x86_64-unknown-linux-gnu docker digest
  .devcontainer/Dockerfile
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate tracing-subscriber to v0.3.23
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate bon to v3.9.1
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate clap to v4.6.0
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(release): 0.25.2
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate rmcp-actix-web to v0.12.3
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update node.js to 6de4ce7
  .gitlab-ci.yml
Due: none

chore(deps): update node.js to 5a593d7
  .gitlab-ci.yml
Due: none
