Repository lx-industries/rmcp-openapi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu, build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

image:rust-x86_64-unknown-linux-gnu:
  needs: []
  variables:
    DOCKERFILE_DIR: images/rust/x86_64-unknown-linux-gnu
    OCI_IMAGE_NAME: images/rust
    OCI_IMAGE_VARIANT: x86_64-unknown-linux-gnu
    GIT_FETCH_EXTRA_FLAGS: +refs/heads/$CI_DEFAULT_BRANCH:refs/remotes/origin/$CI_DEFAULT_BRANCH
  artifacts:
    expire_in: 1 hr
    paths:
  ...

push:rust-x86_64-unknown-linux-gnu:
  needs:
  - image:rust-x86_64-unknown-linux-gnu
  variables:
    DOCKERFILE_DIR: images/rust/x86_64-unknown-linux-gnu
    OCI_IMAGE_NAME: images/rust
    OCI_IMAGE_VARIANT: x86_64-unknown-linux-gnu
  ...

build:
  image: rust:1.92.0@sha256:48851a839d6a67370c9dbe0e709bedc138e3e404b161c5233aedcf2b717366e4
  variables:
    CARGO_HOME: .cargo
  before_script:
  - rustc --version
  - cargo --version
  interruptible: true
  stage: build
  script:
  - cargo build --workspace --all-features --verbose
  cache:
  - key: $CI_COMMIT_REF_SLUG
  ...

test:
  image: rust:1.92.0@sha256:48851a839d6a67370c9dbe0e709bedc138e3e404b161c5233aedcf2b717366e4
  variables:
    CARGO_HOME: .cargo
  before_script:
  - rustc --version
  - cargo --version
  interruptible: true
  stage: test
  script:
  - cargo test --workspace --verbose --lib --bins
  cache:
  - key: $CI_COMMIT_REF_SLUG
  ...

clippy:
  image: rust:1.92.0@sha256:48851a839d6a67370c9dbe0e709bedc138e3e404b161c5233aedcf2b717366e4
  variables:
    CARGO_HOME: .cargo
  before_script:
  - - .rust-template
    - before_script
  - rustup component add clippy
  - cargo clippy --version
  interruptible: true
  stage: lint
  script:
  ...

fmt:
  image: rust:1.92.0@sha256:48851a839d6a67370c9dbe0e709bedc138e3e404b161c5233aedcf2b717366e4
  variables:
    CARGO_HOME: .cargo
  before_script:
  - - .rust-template
    - before_script
  - rustup component add rustfmt
  - cargo fmt --version
  interruptible: true
  stage: lint
  script:
  - cargo fmt --all -- --check
  ...

rustdoc:
  image: rust:1.92.0@sha256:48851a839d6a67370c9dbe0e709bedc138e3e404b161c5233aedcf2b717366e4
  variables:
    CARGO_HOME: .cargo
  before_script:
  - rustc --version
  - cargo --version
  interruptible: true
  stage: docs
  script:
  - cargo doc --workspace --all-features --no-deps 2>&1 | tee doc-output.txt
  ...

doc-test:
  image: rust:1.92.0@sha256:48851a839d6a67370c9dbe0e709bedc138e3e404b161c5233aedcf2b717366e4
  variables:
    CARGO_HOME: .cargo
  before_script:
  - rustc --version
  - cargo --version
  interruptible: true
  stage: docs
  script:
  - cargo test --workspace --doc --all-features
  cache:
  - key: $CI_COMMIT_REF_SLUG
  ...

examples:
  image: rust:1.92.0@sha256:48851a839d6a67370c9dbe0e709bedc138e3e404b161c5233aedcf2b717366e4
  variables:
    CARGO_HOME: .cargo
  before_script:
  - rustc --version
  - cargo --version
  interruptible: true
  stage: examples
  script:
  - cargo build --workspace --examples --verbose
  cache:
  - key: $CI_COMMIT_REF_SLUG
  ...

chore(deps): update rust crate rmcp to 0.14.0
  Cargo.toml
  crates/rmcp-openapi/src/server.rs
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate rmcp-actix-web to version 0.11.0
  Cargo.lock
  Cargo.toml
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(deps): pin the digest of the rust:1.93.0-x86_64-unknown-linux-gnu image
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

fix(ci): false positive typos
  .typos.toml
Due: none

ci: remove the local cargo build cache
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(release): 0.24.3
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate clap to v4.5.55
  Cargo.lock
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate clap to v4.5.56
  Cargo.lock
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate insta to v1.46.2
  Cargo.lock
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(release): 0.24.4
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate insta to v1.46.3
  Cargo.lock
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(deps): update node.js to 1de022d
  .gitlab-ci.yml
Due: none

chore(deps): update rust:1.93.0 docker digest to e35d0f6
  .gitlab-ci.yml
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.0-x86_64-unknown-linux-gnu docker digest to 043cd1c
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate regex to v1.12.3
  Cargo.lock
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate anyhow to v1.0.101
  Cargo.lock
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate reqwest to v0.13.2
  Cargo.lock
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(release): 0.24.5
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(deps): update rust:1.93.0 docker digest to bbde3ca
  .gitlab-ci.yml
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.0-x86_64-unknown-linux-gnu docker digest to c283287
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate clap to v4.5.58
  Cargo.lock
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(deps): update node.js to v24.13.1
  .gitlab-ci.yml
Due: none

chore(deps): update docker docker tag to v29
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update rust crate jsonschema to 0.41.0
  Cargo.lock
  crates/rmcp-openapi/Cargo.toml
  crates/rmcp-openapi/tests/snapshots/test_error_scenarios__http_400_bad_request_error.snap
  crates/rmcp-openapi/tests/snapshots/test_with_js__js_streamable_http_client_responses.snap
  crates/rmcp-openapi/tests/snapshots/test_with_js__js_streamable_http_client_responses_with_refs.snap
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate mockito to v1.7.2
  Cargo.lock
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate schemars to v1.2.1
  Cargo.lock
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(deps): update rust docker tag to v1.93.1
  .gitlab-ci.yml
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update rust crate bon to v3.9.0
  Cargo.lock
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(deps): update registry.gitlab.com/lx-industries/rmcp-openapi/images/rust docker tag to v1.93.1
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(deps): update rmcp crates
  Cargo.lock
  Cargo.toml
  crates/rmcp-openapi/src/server.rs
  crates/rmcp-openapi/src/tool/metadata.rs
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(release): 0.24.6
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to 0.42.0
  Cargo.lock
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(release): 0.24.7
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate clap to v4.5.59
  Cargo.lock
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to v0.42.1
  Cargo.lock
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate actix-web to v4.13.0
  Cargo.lock
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

fix(ci): missing docker-in-docker tag
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update rust:1.93.1 docker digest to 8030252
  .gitlab-ci.yml
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update registry.gitlab.com/lx-industries/rmcp-openapi/images/rust:1.93.1-x86_64-unknown-linux-gnu docker digest to 23b97da
  .gitlab/ci/rust.gitlab-ci.yml
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate clap to v4.5.60
  Cargo.lock
Due: build, test, clippy, fmt, rustdoc, doc-test, examples, integration-js

Path conditions:
  image:rust-x86_64-unknown-linux-gnu: any of: images/rust/x86_64-unknown-linux-gnu/Dockerfile, .gitlab/ci/images.gitlab-ci.yml
  push:rust-x86_64-unknown-linux-gnu: any of: images/rust/x86_64-unknown-linux-gnu/Dockerfile, .gitlab/ci/images.gitlab-ci.yml
  build: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  test: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  clippy: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  fmt: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  rustdoc: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  doc-test: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  examples: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  integration-js: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
