Repository lx-industries/rmcp-openapi: changes, and which GitLab CI jobs are due for each by the changed paths.
All: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu, build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

Path conditions:
  image:rust-x86_64-unknown-linux-gnu: any of: images/rust/x86_64-unknown-linux-gnu/Dockerfile, .gitlab/ci/images.gitlab-ci.yml
  push:rust-x86_64-unknown-linux-gnu: any of: images/rust/x86_64-unknown-linux-gnu/Dockerfile, .gitlab/ci/images.gitlab-ci.yml
  build: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  test: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  clippy: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  fmt: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  typos: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  rustdoc: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  doc-test: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  examples: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml
  integration-js: any of: Cargo.toml, Cargo.lock, crates/**/*, tests/**/*, examples/**/*, .cargo/**/*, .gitlab/ci/rust.gitlab-ci.yml

chore(deps): update node.js
  .devcontainer/Dockerfile
  .gitlab-ci.yml
Due: none

chore(deps): update ubuntu:noble docker digest to 224a186
  container/Containerfile
Due: none

chore(deps): update node.js to v24.21.0
  .gitlab-ci.yml
Due: none

chore(deps): update rust crate reqwest to v0.13.5
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to 0.56.0
  Cargo.lock
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(release): 0.31.5
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update dependency mozilla/sccache to v0.18.0
  images/rust/x86_64-pc-windows-msvc/Dockerfile
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update rust crate clap to v4.6.7
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update dependency crate-ci/typos to v1.50.2
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update dependency cli/cli to v2.101.0
  .devcontainer/Dockerfile
Due: none

chore(deps): update dependency gitlab-org/cli to v1.118.0
  .devcontainer/Dockerfile
Due: none

chore(deps): update docker docker tag to v29.8.1
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update ubuntu:noble docker digest to 69cecf4
  container/Containerfile
Due: none

chore(deps): update docker:29.8.1-dind docker digest to 3f3c01a
  .gitlab/ci/common.gitlab-ci.yml
Due: none

chore(deps): update ubuntu:noble docker digest to 008173c
  container/Containerfile
Due: none

chore(deps): update node.js to 2255392
  .gitlab-ci.yml
Due: none

chore(deps): update node.js to 64af381
  .gitlab-ci.yml
Due: none

chore(release): 0.31.6
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to 0.57.0
  Cargo.lock
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

feat!: migrate to rmcp 3.4.0
  Cargo.lock
  Cargo.toml
  crates/rmcp-openapi/src/server.rs
  crates/rmcp-openapi/src/tool/mod.rs
  crates/rmcp-openapi/tests/test_image_responses.rs
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

fix: narrow tags filter to skip untagged ops only when tags filter is set
  crates/rmcp-openapi/src/spec.rs
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update dependency gitlab-org/cli to v1.119.0
  .devcontainer/Dockerfile
Due: none

ci: hold conventional-changelog preset below v10 in Renovate
  renovate.json
Due: none

chore(deps): update rust crate rmcp to v3.4.1
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate thiserror to v2.0.21
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update dependency crate-ci/typos to v1.50.3
  images/rust/x86_64-unknown-linux-gnu/Dockerfile
Due: image:rust-x86_64-unknown-linux-gnu, push:rust-x86_64-unknown-linux-gnu

chore(deps): update rust crate jsonschema to 0.58.0
  Cargo.lock
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(deps): update rust crate jsonschema to v0.58.1
  Cargo.lock
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(release): 0.32.0
  CHANGELOG.md
  crates/rmcp-openapi-server/Cargo.toml
  crates/rmcp-openapi/Cargo.toml
Due: build, test, clippy, fmt, typos, rustdoc, doc-test, examples, integration-js

chore(devcontainer): authenticate glab from a keyring-free seeded config
  .devcontainer/dev-shell.sh
  .devcontainer/devcontainer.json
  .devcontainer/glab-seed.sh
Due: none

ci: pin docker dind to 29.6.2 to work around blob unknown push failures
  .gitlab/ci/common.gitlab-ci.yml
  renovate.json
Due: none
